.main-l {
    padding-top: 10.6rem;
    overflow: hidden;

    .banner-l1 {
        .banner-l1-1 {
            img {
                display: block;
                margin: 0rem;
                width: 100%;
                height: 600px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                background-attachment: fixed;
            }
        }
        
        .banner-l1-2 {
            img {
                display: none;
            }
        }
    }
}

//---------------------------------------------------------------//

.info-product{
    font-size: 1.8rem;
    padding: 1.5rem 1.5rem;
    line-height: 2;
    @include flex(none, column, center, center, none, 1rem, 1rem);
}

.price{
    font-size: 1.8rem;
    font-weight: 900;
}

.cart-empty{
    padding: 2rem;
    text-align: center;
}

.hidden{
    display: none;
}

//SE OCULTA EN LA VENTANA DEL CARRITO DE COMPRAS
.codi-prod-cart {
    display: none;
}