@media(max-width: 1440px) {

    /******************************************/
    /***************HEADER - 1440***************/
    /******************************************/

    .header-1 {
        .header-1-2 {
            .navbar {
                ul {
                    li {
                        a {
                            font-size: 1.8rem;
                        }
                    }
                }
            }
        }
    }
    

    /******************************************/
    /***************MAIN - 1440****************/
    /******************************************/

    /******************************************/
    /*pagina inicio.html - 1440               */
    /******************************************/

    .main-i {
        padding-top: 10.5rem;
    }

    /******************************************/
    /**************FOOTER - 1440***************/
    /******************************************/

    .footer-1 {
        .footer-1-1 {
            padding: 2rem 4rem 2rem 4rem;
        }

        .footer-1-2 {
            padding: 2rem 4rem 2rem 4rem;
        }
    }
}

