html {
    /*1 rem = 10 px*/
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 3.2rem; font-weight: bold;
}

h2 {
    font-size: 2.4rem; font-weight: bold;
}

h3 {
    font-size: 1.87rem; font-weight: bold;
}

h4 {
    font-size: 1.79rem; font-weight: normal;
}

p {
    font-size: 1.6rem
}

h5 {
    font-size: 1.33rem
}

h6 {
    font-size: 1.2rem
}
